### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.
# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=
## Only required for localhost
NEXTAUTH_URL=http://localhost:3000
#### TWILIO
TWILIO_ACCOUNT_SID=ACa3fc06fd70fef1a4fef034c857fdee2a
TWILIO_API_KEY=SK9f2678c3a856c985ee4cdfe2df32e578
TWILIO_API_SECRET=yySjfaVUBpSDhr7iyhzLvW6bBmwqd3lM 
STUDIO_FLOW_SID=FW8b2be02131c5ae2c69694880c7f9b00e
TWILIO_SYNC_SERVICE_SID=IS990c9baf72a4d996db4d664d1100e4ae
TWILIO_PHONE_NUMBER=18559798129
MESSAGING_SERVICE_SID=MG952a0dcfc12d4c58d50e62efc470d05b
CHAT_SID=ISfbfcb4d13de946128ef116ec228e2ab3
