.paste-chat-composer-content-editable {
  max-width: calc(100% - 20px);
}

.Twilio-RootContainer-default {
  justify-content: space-evenly;
  /* justify-content: center; */
}

.Twilio-MainContainer {
  max-width: 600px !important;
  margin-bottom: 30px;
  margin-top: 20px;
  height: 100vh !important;
  min-height: 92vh;
  flex-direction: column;
}

#twilio-customer-frame .Twilio-MainContainer {
  position: unset !important;
}

#twilio-customer-frame .Twilio-Icon-Close {
  display: none;
}

#twilio-customer-frame {
margin-top: -80vh !important;
}


.Twilio-MainHeader-default img{max-height: 28px!important;}

.Twilio-EntryPoint
{
    display:none!important;
}


.chat-loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
              50% 50% no-repeat rgb(249,249,249);
}
.Twilio-MessageBubble-Body{
  font-size: 14px !important;
}
.Twilio-MessageInputArea-TextArea::placeholder {
  content: "Type your message here" !important;
}