/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start re-enter of CSS Styling from 9/12*/

/* create background colors red blue cyan*/
.bg-red {
    --tw-bg-opacity: 1;
    background-color: rgb(238 56 39 / var(--tw-bg-opacity));
  }
.bg-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(36 76 90 / var(--tw-bg-opacity));
  }
.bg-cyan {
    --tw-bg-opacity: 1;
    background-color: rgb(100 186 180 / var(--tw-bg-opacity));
  }
/*create text-red for hover*/
.text-red {
    --tw-text-opacity: 1;
    color: rgb(210 34 42 / var(--tw-text-opacity));
  }
/* create text-cyan*/
.text-cyan {
  --tw-text-opacity: 1;
  color: rgb(100 186 180 / var(--tw-text-opacity));
}
/* create text-cyan*/
.text-blue {
  --tw-text-opacity: 1;
  color: rgb(36 76 90 / var(--tw-text-opacity));
}
/* create hover red border*/
@media (hover: hover) and (pointer: fine) {

    .hover\:text-cyan:hover {
        --tw-text-opacity: 1;
        color: rgb(100 186 180 / var(--tw-text-opacity));
        border-color: rgb(100 186 180 / var(--tw-text-opacity));
      }
}
/*create extra small text xsm*/
.text-xsm {
    font-size: 0.5rem;
    line-height: 1;
  }
/*create extra small text xxsm*/
.text-xxsm {
  font-size: 16px !important;
  line-height: 1.0rem !important;
  /*font-weight: 300 !important;*/
  letter-spacing: 0.03em;
}
/*create extra small text xxxsm*/
.text-xxxsm {
  font-size: 14px !important;
  line-height: 1.0rem !important; 
  /*font-weight: 300 !important;*/
}

/*change spacing on EULA create new y-5 spacing*/
.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.2rem * var(--tw-space-y-reverse));
}
/* change ordered list settings style class for EULA*/
ol.normal  {
  list-style-type: decimal;
}
ol.nested  {
  list-style-type: lower-alpha;
  margin-left: 20px;
}
/* change the bottom padding from py-20 in layout.tsx */
.py-22 {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.py-24 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.overflow-y {
  max-height: 320px;
  overflow-y: auto;
}
.text-norm {
  font-size: 1rem;
  line-height: 1.5rem;
}
.font-low {
  font-weight: 300;
}
.mt-0 {
  margin-top: 0.0em;
}
.mt-6 {
  margin-top: 1.0em;
}
.mt-3 {
  margin-top: 1.0em;
}
.mb-6 {
  margin-bottom: 1.5em;
}
.mb-7 {
  margin-bottom: 1.0em;
}

/* change header and footer - no overlap - START */
.nav-top-mha {
    background-color: white!important;
}

.grecaptcha-badge {
   z-index: 20;
}

.footer-mha {
    z-index: 10;
	background-color: rgb(36 76 90)!important;
	position: fixed!important;
}

body {
    margin-bottom:5rem;
}
/* change header and footer - no overlap - END */

/*change font for let's chat*/
.lets-chat-bold {
  font-weight: bold;
}
/*4-18 migration of chat/styles.css to globals.css*/
.paste-chat-composer-content-editable {
  max-width: calc(100% - 20px);
}

.Twilio-RootContainer-default {
  justify-content: space-evenly;
  /* justify-content: center; */
  max-height: 100vh !important;
  overflow-x: visible !important;
}

.Twilio-MainContainer {
  max-width: 600px !important;
  /* margin-bottom: 30px; */
  margin-top: 2vh !important;
  height: 100vh !important;
  min-height: calc(100vh - 12vh) !important ;
  flex-direction: column;
  z-index: 9 !important;
  position: absolute!important;

  
}

#twilio-customer-frame .Twilio-MainContainer {
  position: unset !important;
}

#twilio-customer-frame .Twilio-Icon-Close {
  display: none;
}

#twilio-customer-frame {
margin-top: -91vh !important;
}


.Twilio-MainHeader-default img {
  max-height: 28px!important;
}
.Twilio-MainHeader-default {
  font-family: var(--font-mont) !important;
}

.Twilio-EntryPoint
{
    display:none!important;
}


.chat-loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 21;
  background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
              50% 50% no-repeat rgb(249,249,249);
}
.Twilio-MessageBubble-Body{
  font-size: 14px !important;
  font-family: var(--font-mont) !important;
}
.Twilio-MessageInputArea-TextArea::placeholder {
  content: "Type your message here" !important;
  font-family: var(--font-mont) !important;
}
/* for iPhone message input */
.Twilio-MessageInputArea-TextArea textarea {
  font-size: 1rem !important;
  font-family: var(--font-mont) !important;
}
/* change the default avatar */
.Twilio-Icon-DefaultAvatar  {
  content: url(/Favicon24.png); /* Adjust path if needed */
  /* Additional styles for size and positioning (optional) */
  width: 24px; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
}
